In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import time
import datetime

In [131]:
# This is the file I think has the finishing positions for the races we need
results = pd.read_csv("C:/Users/tsswi/Group-4/Formula_1_csvs/results.csv/results.csv")
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [132]:
# Let's filter the data to the races we need. 

#start by setting index
results.set_index('raceId', inplace=True)

In [133]:
results.head()

,resultId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
raceId,,,,,,,,,,,,,,,,,
18,1,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
18,2,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
18,3,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
18,4,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
18,5,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [134]:
# Filter with loc.  HERE IS THE POLISHED DF FOR RESULTS
filtered_results = results.loc[[1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064,
                               1065, 1066, 1067, 1069, 1070, 1071, 1072, 1073]]
filtered_results.tail()

,resultId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
raceId,,,,,,,,,,,,,,,,,
1073,25401,849,3,6,16,\N,R,16,0.0,50,\N,\N,30,15,1:29.293,212.912,3
1073,25402,841,51,99,14,\N,R,17,0.0,33,\N,\N,33,16,1:29.442,212.557,6
1073,25403,847,3,63,17,\N,R,18,0.0,26,\N,\N,23,19,1:30.647,209.732,6
1073,25404,8,51,7,18,\N,R,19,0.0,25,\N,\N,23,18,1:29.698,211.951,23
1073,25405,853,210,9,20,\N,W,20,0.0,0,\N,\N,\N,0,\N,\N,139

In [135]:
filtered_results.dtypes

resultId             int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

In [136]:
filtered_results['milliseconds'].unique()

array(['5523897', '5524642', '5561280', '5570363', '5575944', '5582987',
       '5589901', '5590997', '5609589', '5610610', '5612761', '\\N',
       '7354598', '7376598', '7378300', '7380177', '7381634', '7405818',
       '7407416', '7411507', '7420302', '7421159', '7421749', '7427782',
       '7449371', '5671421', '5700569', '5704951', '5711156', '5722790',
       '5727202', '5735170', '5673229', '5746790', '5747884', '5750376',
       '5587680', '5603521', '5614290', '5642296', '5651351', '5661448',
       '5662350', '5945788', '5936820', '5956247', '5957310', '5989411',
       '5990716', '6005051', '8016410', '8017795', '8019172', '8020238',
       '8021164', '8022792', '8023034', '8024119', '8025284', '8025986',
       '8026664', '8027674', '8030651', '8030725', '8034078', '8059789',
       '4938925', '4974668', '4985832', '4986359', '5245770', '5248674',
       '5254581', '5260388', '5309802', '5321627', '5322366', '5323465',
       '5325436', '5337716', '5345107', '5034543', '5052516', '5054562',
       '5080995', '5091687', '5092458', '5094938', '5095738', '5096387',
       '7103284', '7107155', '7114409', '7131857', '7145908', '7146738',
       '7175377', '7177573', '7179446', '7185349', '7188611', '7483199',
       '7485935', '7498217', '7498850', '7546813', '7559002', '7561109',
       '7562293', '7563443', '207071', '209066', '209672', '211567',
       '214550', '217248', '218650', '219679', '222556', '223237',
       '227661', '229485', '231234', '234181', '235400', '236578',
       '239064', '243125', '245276', '251179', '5405395', '5426327',
       '5461855', '4914365', '4916112', '4919286', '4921674', '4923088',
       '4924900', '4930169', '4931566', '4934107', '4935233', '4938108',
       '4938986', '4941581', '4944134', '4965453', '5441001', '5494272',
       '5503476', '5506608', '5508534', '5522322', '5528225', '5529956',
       '5531077', '5541552', '5547199', '5464103', '5478687', '5497574',
       '5501917', '5505915', '5508395', '5511316', '5515629', '5546121',
       '5676552', '5677885', '5718775', '5728798', '5753406', '5756680',
       '5760097', '5760947', '5919086', '5935641', '5936838', '5982931',
       '6000123', '5542851', '5553347', '5556427', '5582791', '5592368',
       '5594671', '7575118', '7586943', '7602649', '7602751', '7615239',
       '7616731', '7619593', '7621724', '7633623', '7636476', '7652330',
       '7658367', '5417345', '5419601', '5422518', '5423037', '5423876',
       '5424808', '5476545', '5479053', '5481371', '5483402', '5484872'],
      dtype=object)

In [137]:
filtered_results['milliseconds'].isna().sum()

0

In [138]:
filtered_results.replace(to_replace = '\\N', value = 'NaN', inplace = True)

In [140]:
filtered_results['milliseconds'].unique()

array(['5523897', '5524642', '5561280', '5570363', '5575944', '5582987',
       '5589901', '5590997', '5609589', '5610610', '5612761', 'NaN',
       '7354598', '7376598', '7378300', '7380177', '7381634', '7405818',
       '7407416', '7411507', '7420302', '7421159', '7421749', '7427782',
       '7449371', '5671421', '5700569', '5704951', '5711156', '5722790',
       '5727202', '5735170', '5673229', '5746790', '5747884', '5750376',
       '5587680', '5603521', '5614290', '5642296', '5651351', '5661448',
       '5662350', '5945788', '5936820', '5956247', '5957310', '5989411',
       '5990716', '6005051', '8016410', '8017795', '8019172', '8020238',
       '8021164', '8022792', '8023034', '8024119', '8025284', '8025986',
       '8026664', '8027674', '8030651', '8030725', '8034078', '8059789',
       '4938925', '4974668', '4985832', '4986359', '5245770', '5248674',
       '5254581', '5260388', '5309802', '5321627', '5322366', '5323465',
       '5325436', '5337716', '5345107', '5034543', '5052516', '5054562',
       '5080995', '5091687', '5092458', '5094938', '5095738', '5096387',
       '7103284', '7107155', '7114409', '7131857', '7145908', '7146738',
       '7175377', '7177573', '7179446', '7185349', '7188611', '7483199',
       '7485935', '7498217', '7498850', '7546813', '7559002', '7561109',
       '7562293', '7563443', '207071', '209066', '209672', '211567',
       '214550', '217248', '218650', '219679', '222556', '223237',
       '227661', '229485', '231234', '234181', '235400', '236578',
       '239064', '243125', '245276', '251179', '5405395', '5426327',
       '5461855', '4914365', '4916112', '4919286', '4921674', '4923088',
       '4924900', '4930169', '4931566', '4934107', '4935233', '4938108',
       '4938986', '4941581', '4944134', '4965453', '5441001', '5494272',
       '5503476', '5506608', '5508534', '5522322', '5528225', '5529956',
       '5531077', '5541552', '5547199', '5464103', '5478687', '5497574',
       '5501917', '5505915', '5508395', '5511316', '5515629', '5546121',
       '5676552', '5677885', '5718775', '5728798', '5753406', '5756680',
       '5760097', '5760947', '5919086', '5935641', '5936838', '5982931',
       '6000123', '5542851', '5553347', '5556427', '5582791', '5592368',
       '5594671', '7575118', '7586943', '7602649', '7602751', '7615239',
       '7616731', '7619593', '7621724', '7633623', '7636476', '7652330',
       '7658367', '5417345', '5419601', '5422518', '5423037', '5423876',
       '5424808', '5476545', '5479053', '5481371', '5483402', '5484872'],
      dtype=object)

In [141]:
filtered_results['milliseconds'].isna().sum()

0

In [116]:
#filtered_results = filtered_results.astype({"milliseconds": "float"})
filtered_results['milliseconds'] = filtered_results[filtered_results['milliseconds']].astype(str).astype(int)

KeyError: "None of [Index(['5523897', '5524642', '5561280', '5570363', '5575944', '5582987',\n       '5589901', '5590997', '5609589', '5610610',\n       ...\n       '5484872', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N', '\\N'],\n      dtype='object', length=420)] are in the [columns]"

In [77]:
filtered_results.shape

(420, 17)

In [76]:
drivers = filtered_results['driverId'].unique()
drivers

array([  1, 830, 822, 846, 815, 844, 817, 832, 852, 840,   8, 841, 839,
       847,  20, 854, 842, 849,   4, 853,   9], dtype=int64)

In [75]:
len(filtered_results['driverId'].unique())

21

In [49]:
drivers_21 = pd.read_csv("C:/Users/tsswi/Group-4/Formula_1_csvs/2021_Drivers.csv")
drivers_21.set_index('Driver Id')

            Constructor               Driver
Driver Id
1              Mercedes       Lewis Hamilton
822            Mercedes      Valterri Bottas
830            Red Bull      Max Verstappen
815            Red Bull         Sergio Perez
844             Ferrari      Charles Leclerc
832             Ferrari         Carlos Sainz
840        Aston Martin         Lance Stroll
20         Aston Martin     Sebastian Vettel
839              Alpine         Esteben Ocon
4                Alpine      Fernando Alonso
854                Haas      Mick Schumacher
853                Haas       Nikita Mazepin
852          AlphaTauri         Yuki Tsunoda
842          AlphaTauri         Pierre Gasly
847            Williams       George Russell
849            Williams      Nicholas Latifi
846             McLaren         Lando Norris
817             McLaren      Daniel Riccardo
8            Alfa Romeo       Kimi Raikkonen
841          Alfa Romeo   Antonio Giovinazzi

In [50]:
drivers_22 = pd.read_csv("C:/Users/tsswi/Group-4/Formula_1_csvs/2022_Drivers.csv")
drivers_22.set_index("Driver Id")

            Constructor             Driver
Driver Id
1              Mercedes     Lewis Hamilton
847            Mercedes     George Russell
830            Red Bull     Max Verstappen
815            Red Bull       Sergio Perez
844             Ferrari    Charles Leclerc
832             Ferrari       Carlos Sainz
840        Aston Martin       Lance Stroll
20         Aston Martin   Sebastian Vettel
839              Alpine       Esteben Ocon
4                Alpine    Fernando Alonso
854                Haas    Mick Schumacher
825                Haas    Kevin Magnussen
852          AlphaTauri       Yuki Tsunoda
842          AlphaTauri       Pierre Gasly
848            Williams         Alex Albon
849            Williams    Nicholas Latifi
846             McLaren       Lando Norris
817             McLaren    Daniel Riccardo
855          Alfa Romeo        Zhou Guanyu
822          Alfa Romeo    Valterri Bottas

In [51]:
pit_stops = pd.read_csv("C:/Users/tsswi/Group-4/Formula_1_csvs/pit_stops.csv")
pit_stops.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [52]:
# Filter the pit stops by race id
#start by setting index
pit_stops.set_index('raceId', inplace=True)

In [54]:
pit_stops.head()

        driverId  stop  lap      time duration  milliseconds
raceId
841          153     1    1  17:05:23   26.898         26898
841           30     1    1  17:05:52   25.021         25021
841           17     1   11  17:20:48   23.426         23426
841            4     1   12  17:22:34   23.251         23251
841           13     1   13  17:24:10   23.842         23842

In [56]:
# Filter with loc.  HERE IS THE POLISHED DF FOR RESULTS. ## MISSING 1063
filtered_stops = pit_stops.loc[[1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1064,
                               1065, 1066, 1067, 1069, 1070, 1071, 1072, 1073]]
filtered_stops.tail()

        driverId  stop  lap      time duration  milliseconds
raceId
1073         840     2   52  18:22:55   22.661         22661
1073         815     3   53  18:23:09   21.385         21385
1073         854     2   52  18:23:42   22.070         22070
1073         852     2   53  18:24:01   21.909         21909
1073         842     2   54  18:25:56   21.920         21920

In [62]:
# Lets check types & fix duration
filtered_stops.dtypes

driverId         int64
stop             int64
lap              int64
time            object
duration        object
milliseconds     int64
dtype: object

In [103]:
filtered_stops.columns.values

array(['driverId', 'stop', 'lap', 'time', 'duration', 'milliseconds'],
      dtype=object)

In [79]:
filtered_stops['duration'].unique()

array(['23.993', '38.338', '24.373', '24.899', '24.925', '24.884',
       '31.998', '24.839', '24.688', '24.107', '25.226', '24.621',
       '26.046', '25.798', '24.353', '25.046', '24.262', '24.767',
       '24.105', '24.317', '24.626', '24.076', '25.525', '24.046',
       '24.775', '32.897', '24.223', '24.471', '24.176', '24.655',
       '23.983', '25.640', '24.328', '25.343', '24.248', '24.341',
       '24.191', '23.848', '24.983', '24.566', '30.866', '32.024',
       '51.007', '31.168', '31.068', '31.184', '32.479', '39.502',
       '31.500', '30.696', '29.983', '30.280', '29.809', '32.277',
       '30.856', '34.340', '31.138', '32.112', '32.299', '30.652',
       '31.002', '44.608', '30.654', '30.167', '30.864', '38.198',
       '30.701', '27:01.361', '24:52.090', '24:52.612', '24:54.731',
       '25:21.462', '24:51.384', '24:56.541', '26:49.484', '24:48.372',
       '24:38.974', '24:46.154', '26:24.953', '26:21.158', '26:22.211',
       '24:13.539', '24:12.323', '26:14.827', '1:05.390', '1:02.892',
       '1:05.870', '1:03.280', '1:00.172', '57.601', '56.733', '56.083',
       '52.043', '51.222', '49.729', '29.742', '21.377', '22.426',
       '22.718', '22.029', '21.890', '21.407', '21.275', '21.323',
       '21.353', '21.398', '23.532', '22.485', '21.965', '21.452',
       '22.266', '22.264', '21.970', '22.019', '21.372', '22.072',
       '22.164', '22.104', '22.244', '22.100', '22.551', '22.240',
       '22.587', '22.319', '21.750', '22.755', '22.669', '22.355',
       '21.621', '22.542', '22.176', '21.730', '21.454', '21.404',
       '25.892', '26.202', '26.952', '27.033', '26.620', '26.729',
       '26.172', '26.595', '27.082', '26.843', '27.186', '27.245',
       '26.743', '26.938', '26.907', '26.027', '26.442', '28.639',
       '26.984', '26.607', '26.573', '26.319', '54.673', '23.814',
       '26.672', '28.042', '22.043', '23.087', '21.779', '21.756',
       '23.098', '22.311', '22.798', '21.864', '24.006', '23.565',
       '22.406', '22.382', '21.424', '22.220', '21.613', '21.919',
       '21.572', '21.973', '21.432', '22.871', '22.078', '22.502',
       '21.762', '21.856', '26.065', '22.405', '22.310', '22.467',
       '21.638', '21.345', '22.292', '21.592', '23.479', '23.783',
       '23.874', '24.428', '24.369', '23.928', '24.150', '24.521',
       '23.746', '24.548', '25.202', '24.715', '23.935', '24.797',
       '24.077', '23.703', '23.803', '23.474', '24.430', '24.244',
       '19.970', '20.402', '20.168', '20.533', '22.440', '19.836',
       '20.253', '22.149', '21.759', '20.064', '22.470', '20.156',
       '20.356', '20.082', '19.769', '21.874', '20.048', '19.841',
       '19.983', '20.193', '20.029', '1:09.761', '21.958', '21.587',
       '24.780', '15.277', '15.432', '14.945', '15.085', '15.092',
       '14.943', '15.866', '15.119', '14.994', '15.064', '14.881',
       '21.346', '21.438', '15.054', '15.058', '33:18.466', '33:20.923',
       '33:20.416', '33:21.830', '33:22.544', '33:23.526', '33:30.409',
       '33:32.724', '33:35.163', '33:34.526', '33:36.437', '33:37.324',
       '34:08.175', '33:55.229', '33:56.172', '30:28.965', '33:34.176',
       '1:26.440', '28.386', '26.419', '22.759', '21.210', '37.309',
       '23.477', '21.953', '21.234', '46.315', '21.752', '21.131',
       '21.546', '21.219', '20.936', '21.692', '22.400', '21.227',
       '21.238', '21.924', '21.226', '21.410', '20.961', '21.640',
       '30.798', '30.226', '31.457', '29.951', '30.572', '30.534',
       '30.781', '30.092', '29.803', '31.288', '29.775', '30.263',
       '29.682', '30.531', '30.207', '30.586', '30.983', '30.123',
       '31.327', '30.996', '31.069', '31.368', '21.129', '21.145',
       '22.564', '21.391', '21.086', '22.000', '21.151', '27.122',
       '26.474', '21.071', '21.606', '21.005', '21.090', '21.735',
       '22.663', '21.152', '21.143', '21.798', '21.896', '20.850',
       '23.182', '21.472', '21.431', '20.841', '26.604', '21.421',
       '21.236', '34:07.731', '34:08.376', '34:09.149', '34:12.218',
       '34:11.281', '34:15.222', '34:18.580', '34:19.122', '34:22.984',
       '34:26.994', '34:27.861', '34:27.244', '34:30.250', '34:32.543',
       '34:35.695', '34:35.728', '34:37.164', '34:36.977', '34:36.405',
       '28.110', '27.892', '27.812', '28.145', '28.772', '27.543',
       '28.817', '31.706', '28.209', '28.213', '28.137', '29.743',
       '29.319', '29.253', '40.266', '37.509', '28.685', '28.433',
       '29.134', '27.848', '28.180', '29.082', '22.569', '23.715',
       '38.267', '24:09.259', '24:10.190', '24:11.890', '24:12.527',
       '24:13.630', '24:14.435', '24:14.979', '24:17.487', '24:17.844',
       '24:17.042', '24:17.615', '24:17.127', '24:16.349', '24:17.420',
       '39.522', '40.882', '42.786', '40.740', '39.081', '37.122',
       '29.374', '35.451', '36.813', '39.839', '34.492', '35.245',
       '36.899', '21.731', '29.191', '36.457', '21.516', '21.623',
       '21.047', '22.186', '21.819', '22.704', '21.295', '21.951',
       '22.113', '22.703', '21.642', '21.523', '20.848', '21.208',
       '21.172', '21.543', '35.573', '19.287', '18.664', '19.770',
       '19.142', '20.646', '19.163', '19.049', '18.634', '19.389',
       '19.449', '18.873', '20.327', '19.240', '19.850', '24.578',
       '19.018', '20.043', '19.999', '19.490', '18.868', '18.578',
       '19.708', '20.443', '18.681', '18.555', '19.202', '25.533',
       '37.190', '23.812', '25.157', '32.456', '24.168', '24.714',
       '24.928', '25.619', '24.846', '30.551', '24.557', '23.906',
       '24.283', '24.308', '30.333', '24.156', '24.501', '25.927',
       '24.806', '30.917', '30.241', '30.665', '30.056', '30.112',
       '30.715', '30.127', '29.901', '30.102', '29.996', '33.617',
       '29.878', '29.578', '29.242', '29.824', '29.936', '29.354',
       '31.849', '36.026', '30.157', '30.081', '32.081', '29.569',
       '30.131', '33.931', '30.980', '31.017', '30.677', '31.016',
       '43.124', '30.045', '30.972', '30.702', '32.313', '32.128',
       '31.915', '33.264', '33.961', '32.670', '32.648', '23.028',
       '29.116', '23.239', '24.104', '23.329', '23.551', '22.442',
       '28.353', '23.829', '23.500', '22.962', '22.463', '23.164',
       '23.514', '29.310', '35.509', '23.892', '23.150', '23.646',
       '22.684', '30.673', '40.800', '32.610', '23.576', '23.802',
       '23.572', '23.727', '24.385', '23.745', '23.414', '24.293',
       '25.018', '24.011', '24.481', '24.444', '24.977', '23.827',
       '24.611', '23.653', '23.919', '23.502', '23.844', '24.052',
       '26.866', '23.604', '24.036', '25.548', '24.090', '24.980',
       '23.805', '23.529', '23.619', '23.455', '24.247', '23.676',
       '23.849', '24.169', '23.314', '38.128', '23.681', '23.586',
       '25.094', '23.100', '21.984', '22.205', '22.373', '22.085',
       '22.549', '22.424', '21.908', '22.277', '26.056', '22.813',
       '23.985', '22.114', '31.664', '22.031', '22.534', '22.739',
       '23.637', '22.680', '26.443', '27.313', '31.939', '22.978',
       '17.758', '17.719', '17.916', '18.308', '17.910', '17.899',
       '17.943', '18.460', '18.107', '19.439', '19.285', '19.732',
       '17.751', '17.948', '17.713', '17.995', '17.861', '18.153',
       '18.327', '20.844', '17.711', '17.673', '17.807', '18.136',
       '18.660', '17.837', '17.771', '18.373', '17.896', '18.608',
       '17.818', '18.347', '17.705', '17.935', '17.929', '18.467',
       '18.588', '18.784', '18.763', '18.179', '18.499', '19.176',
       '41.173', '22.936', '24.997', '23.116', '22.690', '23.321',
       '22.722', '22.667', '23.165', '24.464', '23.541', '23.618',
       '23.263', '25.597', '22.839', '23.504', '24.375', '23.546',
       '24.211', '35.416', '22.958', '22.766', '22.856', '23.132',
       '22.656', '22.830', '22.664', '23.039', '23.064', '22.666',
       '22.745', '24.627', '22.916', '27.165', '20.519', '20.580',
       '21.668', '20.531', '20.710', '20.973', '20.405', '24.220',
       '16:36.375', '16:35.856', '16:35.942', '16:37.126', '16:37.029',
       '16:39.485', '16:41.775', '16:42.619', '16:44.618', '16:44.917',
       '16:46.407', '16:48.569', '16:52.304', '16:57.303', '16:59.850',
       '16:59.226', '17:01.615', '17:00.939', '16:57.257', '18:07.591',
       '18:08.290', '18:06.674', '18:07.296', '18:09.473', '18:12.287',
       '18:15.192', '18:14.749', '18:17.194', '18:18.749', '18:19.282',
       '18:20.644', '18:21.826', '18:22.979', '18:27.052', '18:36.576',
       '27.874', '34.489', '21.097', '22.124', '21.595', '22.461',
       '21.677', '21.380', '22.283', '21.449', '22.213', '21.471',
       '22.288', '22.338', '22.455', '21.221', '21.241', '21.669',
       '21.173', '21.871', '21.413', '21.304', '22.133', '22.173',
       '21.453', '22.056', '22.661', '21.385', '22.070', '21.909',
       '21.920'], dtype=object)

In [82]:
# fix duration to float
#filtered_stops = filtered_stops.astype({"duration": "float"})

In [83]:
# Okay, group by driver ID
drivers

array([  1, 830, 822, 846, 815, 844, 817, 832, 852, 840,   8, 841, 839,
       847,  20, 854, 842, 849,   4, 853,   9], dtype=int64)

In [143]:
#.loc on both df and then merge them 
#mouse_data_complete = pd.merge(mouse_metadata, study_results, how="outer", on=["Mouse ID", "Mouse ID"])
#results_stops = pd.merge(filtered_results, filtered_stops, how='left', on=['raceId', 'driverId', 'milliseconds'])
results_stops = pd.merge(filtered_results, filtered_stops, how='left', on=['raceId', 'driverId'])
results_stops

,resultId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,...,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,stop,lap,time_y,duration,milliseconds_y
raceId,,,,,,,,,,,,,,,,,,,,,
1052,24966,1,131,44,2,1,1,1,25.0,56,...,44,4,1:34.015,207.235,1,1.0,13.0,18:30:29,24.839,24839.0
1052,24966,1,131,44,2,1,1,1,25.0,56,...,44,4,1:34.015,207.235,1,2.0,28.0,18:54:40,24.076,24076.0
1052,24967,830,9,33,1,2,2,2,18.0,56,...,41,2,1:33.228,208.984,1,1.0,17.0,18:36:54,24.767,24767.0
1052,24967,830,9,33,1,2,2,2,18.0,56,...,41,2,1:33.228,208.984,1,2.0,39.0,19:12:13,23.848,23848.0
1052,24968,822,131,77,3,3,3,3,16.0,56,...,56,1,1:32.090,211.566,1,1.0,16.0,18:35:24,24.262,24262.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,25401,849,3,6,16,NaN,R,16,0.0,50,...,30,15,1:29.293,212.912,3,1.0,28.0,17:46:18,21.241,21241.0
1073,25402,841,51,99,14,NaN,R,17,0.0,33,...,33,16,1:29.442,212.557,6,1.0,17.0,17:29:20,22.283,22283.0
1073,25403,847,3,63,17,NaN,R,18,0.0,26,...,23,19,1:30.647,209.732,6,NaN,NaN,NaN,NaN,NaN
1073,25404,8,51,7,18,NaN,R,19,0.0,25,...,23,18,1:29.698,211.951,23,1.0,21.0,17:35:29,22.338,22338.0
1073,25405,853,210,9,20,NaN,W,20,0.0,0,...,NaN,0,NaN,NaN,139,NaN,NaN,NaN,NaN,NaN